<div class="row">
  <div class="col-sm-12 col-md-6 mb-md-0">
    <app-blockquote [title]="'Actualizar usuario'"></app-blockquote>

    <!-- Material form register -->
    <mdb-card borderColor="border-light">
      <mdb-card-body>
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true" (click)="clearForm()">×</span></button>
        <!-- Form grid -->
        <form ngNativeValidate [formGroup]="validateForm" (ngSubmit)="updateUser()" autocomplete="off">
          <!-- Grid row -->
          <div class="form-row">
            <!-- Grid column -->
            <div class="col-md-12">
              <!-- Material input -->
              <div class="md-form form-group">
                <label for="inputDocument">Documento</label>
                <input mdbInput mdbValidate formControlName="documentFormEx" type="text" class="form-control" id="inputDocument" placeholder="Documento">
                <mdb-error *ngIf="documentFormEx.invalid && (documentFormEx.dirty || documentFormEx.touched)">Campo inválido
                </mdb-error>
                <mdb-success *ngIf="documentFormEx.valid && (documentFormEx.dirty || documentFormEx.touched)">Campo válido
                </mdb-success>
              </div>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-6">
              <!-- Material input -->
              <div class="md-form form-group">
                <label for="inputName">Nombre</label>
                <input mdbInput mdbValidate formControlName="nameFormEx" type="text" class="form-control" id="inputName" placeholder="Nombre">
                <mdb-error *ngIf="nameFormEx.invalid && (nameFormEx.dirty || nameFormEx.touched)">Campo inválido
                </mdb-error>
                <mdb-success *ngIf="nameFormEx.valid && (nameFormEx.dirty || nameFormEx.touched)">Campo válido
                </mdb-success>
              </div>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-6">
              <!-- Material input -->
              <div class="md-form form-group">
                <label for="inputSurname">Apellido</label>
                <input mdbInput mdbValidate formControlName="surnameFormEx" type="text" class="form-control" id="inputSurname" placeholder="Apellido">
                <mdb-error *ngIf="surnameFormEx.invalid && (surnameFormEx.dirty || surnameFormEx.touched)">Campo inválido
                </mdb-error>
                <mdb-success *ngIf="surnameFormEx.valid && (surnameFormEx.dirty || surnameFormEx.touched)">Campo válido
                </mdb-success>
              </div>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->

          <button mdbBtn type="submit" color="light-green" class="float-right" mdbWavesEffect><mdb-icon fas icon="save" class="mr-1"></mdb-icon>Actualizar usuario</button>
          <button (click)="cancelUpdate()" mdbBtn type="button" color="orange" class="float-left" mdbWavesEffect><mdb-icon fas icon="arrow-left"></mdb-icon></button>
        </form>
        <!-- Form grid -->
      </mdb-card-body>
    </mdb-card>
    <!-- Material form register -->
    </div>
</div>
