<div class="row">
  <div class="col-sm-12 col-md-6 mb-md-0">
    <app-blockquote [title]="object.title"></app-blockquote>
    <mdb-card borderColor="border-light">
      <mdb-card-body>
        <button (click)="clearForm()" type="button" class="close" aria-label="Close"><span aria-hidden="true">×</span></button>
        <!-- Form grid -->
        <form ngNativeValidate autocomplete="off">
          <!-- Grid row -->
          <div class="form-row">
            <!-- Grid column -->
            <div class="col-md-12" *ngFor="let attrib of object.inputs">
              <!-- Material input -->
              <div class="md-form form-group">
                <input mdbInput mdbValidate  [type]="attrib.type" class="form-control" id="inputDocument" [placeholder]="attrib.name | titlecase">
                <label for="inputDocument">{{attrib.name | titlecase}}</label>
              </div>
            </div>
          </div>
        </form>
      </mdb-card-body>
    </mdb-card>
  </div>
</div>
