<!--Main Navigation-->
<header>

    <!-- Sidebar -->
    <div class="sidebar-fixed position-fixed">

        <a class="waves-effect">
            <img alt="" class="img-fluid round shadow" src="assets/img/leaf.jpg">
        </a>

        <div class="list-group list-group-flush">

            <a [routerLink]="['/adduser']" routerLinkActive="active light-green border-0" class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="users-cog" class="mr-3"></mdb-icon>Administrador
            </a>
            <a [routerLink]="['/home']" routerLinkActive="active orange border-warning" class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="leaf" class="mr-3"></mdb-icon>Líneas de riego
            </a>
            <a (click)="logoutUser()" class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="user-slash" class="mr-3"></mdb-icon>Salir
            </a>
        </div>
    </div>
    <!-- Sidebar -->

    <!--Navbar-->
    <mdb-navbar [containerInside]="false" SideClass="navbar navbar-expand-lg navbar-light white">
        <!--Navbar brand-->
        <logo class="ml-2">
            <a class="navbar-brand green-text text-uppercase" [routerLink]="['/home']">Vivero CTGI</a>
        </logo>
    </mdb-navbar>
    <!--/.Navbar-->
</header>
<!--Main Navigation-->