<!--Main Navigation-->
<header>

  <!-- Sidebar -->
  <div class="sidebar-fixed position-fixed">

    <a class="waves-effect">
      <img alt="" class="img-fluid" src="assets/img/leaf.jpg">
    </a>

    <div class="list-group list-group-flush">

      <a [routerLink]="['/adduser']" routerLinkActive="active light-green border-0" class="list-group-item list-group-item-action waves-effect">
        <mdb-icon fas icon="users-cog" class="mr-3"></mdb-icon>Administrador
      </a>
      <a [routerLink]="['/home']" routerLinkActive="active orange border-warning" class="list-group-item list-group-item-action waves-effect">
        <mdb-icon fas icon="leaf" class="mr-3"></mdb-icon>Líneas de riego
      </a>
      <!-- Collapse -->
      <a (click)="test.toggle()" routerLinkActive="active light-green border-0" class="list-group-item list-group-item-action waves-effect">
        <mdb-icon fas icon="cog" class="mr-3"></mdb-icon>Configuración <mdb-badge color="orange" class="float-right">{{ collapseService.collapse.length }}</mdb-badge>
      </a>
      <div mdbCollapse [isCollapsed]="true" #test="bs-collapse">
        <ul *ngFor="let collapse of collapseService.collapse" class="list-group list-group-flush">
          <li class="list-group-item waves-light">
            <a [routerLink]="collapse.url" class="list-group-item-action" mdbWavesEffect><mdb-icon fas [icon]="collapse.icon" class="mr-2 ml-2"></mdb-icon>{{ collapse.title }}</a>
          </li>
        </ul>
      </div>
      <a (click)="logoutUser()" class="list-group-item list-group-item-action waves-effect">
        <mdb-icon fas icon="user-slash" class="mr-3"></mdb-icon>Salir
      </a>
    </div>

  </div>
  <!-- Sidebar -->

  <!--Navbar-->
  <mdb-navbar [containerInside]="false" SideClass="navbar navbar-expand-lg navbar-light white">
     <!--Navbar brand-->
    <logo class="ml-3">
      <a class="navbar-brand" [routerLink]="['/home']">
        <strong class="green-text text-uppercase">Leaf</strong>
      </a>
    </logo>
    <!-- Collapsible content -->
    <links>
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
          <a mdbBtn (click)="editUser()" type="button" color="light-green" mdbWavesEffect><mdb-icon fas icon="user-edit"></mdb-icon></a>
        </li>
      </ul>
    </links>
  </mdb-navbar>
  <!--/.Navbar-->
</header>
<!--Main Navigation-->
