<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title" id="myModalLabel1">{{ heading }}</h4>
  </div>
  <div class="modal-body">
    <label for="input">Horario de programación</label>
    <div class="md-form">
      <input type="time" id="input" class="form-control" [formControl]="time" mdbInput>
    </div>
    <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="customSwitch">
        <label class="custom-control-label" for="customSwitch">Bloquear</label>
      </div>
  </div>
  <div class="modal-footer">
    <button type="button" mdbBtn color="orange" class="relative waves-light" aria-label="Close" (click)="modalRef.hide()" mdbWavesEffect>Cerrar</button>
    <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="program()" mdbWavesEffect>Programar</button>
  </div>
</div>
