<div class="container mt-5">
        <!-- <img src="assets/img/banner_2.png" class="img-fluid" width="60%" height="10%" alt="Responsive image"> -->
    <div class="row">
        
        <!-- <mdb-card-img src="assets/img/banner.jpg" alt=""></mdb-card-img> -->
        <div class="col-md-8">
            <mdb-card class="p-2 my-2">
                <mdb-card-body class="mt-2 mb-2">
                    <img src="assets/img/banner_2.png" class="img-fluid" alt="Responsive image">
                    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                        <!-- Carousel Component -->
                        <app-carousel></app-carousel>
                        <!-- Carousel Component -->
                    </div>
                    <a>
                        <div class="mask"></div>
                    </a>
                    <blockquote class="blockquote mb-0 mt-2">
                        <div class="flex-row">
                            <a mdbBtn color="orange" class="float-right m-3" size="sm" [routerLink]="['/home']" mdbWavesEffect>
                                <mdb-icon fas icon="eye" class="mr-1"></mdb-icon>Ver vivero</a>
                        </div>
                        <footer class="blockquote-footer">Lo único que importa es el esfuerzo. <cite title="Source Title">Antoine de Saint-Exupery</cite></footer>
                    </blockquote>
                </mdb-card-body>
            </mdb-card>
        </div>
        <!-- Login -->
        <div class="col-md-4">
            <!-- Material form login -->
            <mdb-card>
                <!-- Logo -->
                <div class="view rgba-white-slight waves-light rounded-circle" mdbWavesEffect>
                    <mdb-card-img src="assets/img/leaf.png" alt="logo"></mdb-card-img>
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <!-- Logo -->

                <!-- Form reactive - Fields validation with error messages -->
                <mdb-card-body>
                    <mdb-card-title>
                        <h4 class="text-center text-uppercase green-text">{{ title }}</h4>
                    </mdb-card-title>
                    <mdb-card-text>
                        <form ngNativeValidate (ngSubmit)="onSubmit()" [formGroup]="validateForm" autocomplete="off">
                            <!-- Material input - Document -->
                            <div class="md-form">
                                <i class="fas fa-user prefix"></i>
                                <input mdbInput mdbValidate formControlName="documentFormEx" type="text" class="form-control" id="document">
                                <label for="document">Documento</label>
                                <mdb-error *ngIf="documentFormEx.invalid && (documentFormEx.dirty || documentFormEx.touched)">
                                    <span *ngIf="documentFormEx.errors.required"> - Campo obligatorio</span>
                                    <span *ngIf="documentFormEx.errors.pattern"> - Solo números</span>
                                    <span *ngIf="documentFormEx.errors.maxlength"> - Máximo diez números</span>
                                    <span *ngIf="documentFormEx.errors.minlength"> - Mínimo ocho números</span>
                                </mdb-error>
                                <mdb-success *ngIf="documentFormEx.valid && (documentFormEx.dirty || documentFormEx.touched)"></mdb-success>
                            </div>
                            <!-- Material input - Document -->

                            <!-- Material input - Password -->
                            <div class="md-form">
                                <i class="fa fa-lock prefix"></i>
                                <input mdbInput mdbValidate formControlName="passwordFormEx" type="password" class="form-control" id="password">
                                <label for="password">Contraseña</label>
                                <mdb-error *ngIf="passwordFormEx.invalid && (passwordFormEx.dirty || passwordFormEx.touched)">
                                    <span *ngIf="passwordFormEx.errors.required"> - Campo obligatorio</span>
                                    <span *ngIf="passwordFormEx.errors.maxlength"> - Máximo diecisiés caracteres</span>
                                    <span *ngIf="passwordFormEx.errors.minlength"> - Mínimo seis caracteres</span>
                                </mdb-error>
                                <mdb-success *ngIf="passwordFormEx.valid && (passwordFormEx.dirty || passwordFormEx.touched)">
                                </mdb-success>
                            </div>
                            <!-- Material input - Password -->
                            <div class="d-flex justify-content-around mt-0 mb-2">
                                <!-- Remember me -->
                                <mdb-checkbox formControlName="rememberFormEx">Recuérdame</mdb-checkbox>
                            </div>
                            <button mdbBtn type="submit" color="dark-green" block="true" mdbWavesEffect>iniciar sesión</button>
                          </form>
                        </mdb-card-text>
                        <div *ngIf="message" class="alert alert-danger" role="alert">
                          <span class="small">{{message}}</span>
                        </div>
                </mdb-card-body>
                <!-- Form reactive - Fields validation with error messages -->
            </mdb-card>
            <!-- Material form login -->
        </div>
        <!-- Login -->
    </div>
</div>
