<app-blockquote [title]="'Líneas de riego'"></app-blockquote>
<div class="row mb-5">
    <div class="col-sm-12 col-md-9 ">
        <!--Contenido de líneas de riego-->
        <div class="row" *ngIf="systemInfo">
            <div class="col-3" *ngFor="let line of systemInfo.lineas">
                <h5 class="text-center">
                    <mdb-badge color="orange">Línea de riego<span class="badge ml-2">{{ line.id }}</span></mdb-badge>
                </h5>
                <div class="text-center">
                    <button type="button" class="btn btn-cyan px-3 mb-2 btn-block"><i
            class="fas fa-tint flash infinite mr-2" [ngClass]="{'animated': line.estado}" aria-hidden="true"></i>Riego
          </button>
                    <app-irrigation-line [InfoLinea]="line"></app-irrigation-line>
                </div>
            </div>
        </div>
        <!--Contenido de líneas de riego-->
    </div>
    <div class="col-sm-12 col-md-3" *ngIf="systemInfo">
        <div class="col-sm-12">
            <app-card [Info]="systemInfo.bateria" [titulo]="'Batería'" [img]="'../../../assets/img/battery.jpg'"></app-card>
        </div>
        <div class="col-sm-12 mt-2">
            <app-card [Info]="systemInfo.tanque" [titulo]="'Tanque de agua'" [img]="'../../../assets/img/water-tank.png'"></app-card>
        </div>
    </div>
</div>