<app-blockquote [title]="'Líneas de riego'"></app-blockquote>
<div class="row mb-5">
    <div class="col-sm-12 col-md-9 ">
        <!--Contenido de líneas de riego-->
        <div class="row">
            <div class="col-4">
                <h5 class="text-center">
                    <mdb-badge color="orange">Línea de riego<span class="badge ml-2">1</span></mdb-badge>
                </h5>
                <div class="text-center">
                    <button type="button" class="btn btn-cyan px-3 mb-2 btn-block"><i class="fas animated fa-tint flash infinite mr-2" aria-hidden="true"></i>Riego</button>
                    <app-irrigation-line></app-irrigation-line>
                </div>
            </div>
            <div class="col-4">
                <h5 class="text-center">
                    <mdb-badge color="orange">Línea de riego<span class="badge ml-2">2</span></mdb-badge>
                </h5>
                <div class="text-center">
                    <button type="button" class="btn btn-cyan px-3 mb-2 btn-block"><i class="fas animated fa-tint flash infinite mr-2" aria-hidden="true"></i>Riego</button>
                    <app-irrigation-line></app-irrigation-line>
                </div>
            </div>
            <div class="col-4">
                <h5 class="text-center">
                    <mdb-badge color="orange">Línea de riego<span class="badge ml-2">3</span></mdb-badge>
                </h5>
                <div class="text-center">
                    <button type="button" class="btn btn-cyan px-3 mb-2 btn-block"><i class="fas animated fa-tint flash infinite mr-2" aria-hidden="true"></i>Riego</button>
                    <app-irrigation-line></app-irrigation-line>
                </div>
            </div>
        </div>
        <!--Contenido de líneas de riego-->
    </div>
    <div class="col-sm-12 col-md-3">
        <div class="col-sm-12">
            <app-card [titulo]="'Batería'" [img]="'../../../assets/img/battery.jpg'" (click)="openModalBattery()"></app-card>
        </div>
        <div class="col-sm-12 mt-2">
            <app-card [titulo]="'Tanque de agua'" [img]="'../../../assets/img/water-tank.png'" (click)="openModalWater()"></app-card>
        </div>
    </div>
</div>