<app-blockquote [title]="'Líneas de riego'"></app-blockquote>
<div class="row mb-5">
  <div class="col-sm-12 col-md-9 ">
    <div class="row">
      <div class="col-4">Línea de riego 1
        <div class="text-center">
          Riego
          <button type="button" class="btn btn-orange px-3"><i class="fas fa-tint fa-pulse" aria-hidden="true"></i></button>
        </div>
      </div>
      <div class="col-4">Línea de riego 2
        <div class="text-center">
          <button type="button" class="btn btn-info px-3"><i class="fas fa-tint fa-pulse mr-2" aria-hidden="true"></i>Riego</button>
        </div>
      </div>
      <div class="col-4">Línea de riego 3
        <div class="text-center">
          <button type="button" class="btn btn-default px-3"><i class="fas fa-tint fa-pulse" aria-hidden="true"></i></button>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked" checked disabled>
            <label class="custom-control-label" for="defaultUnchecked">Riego</label>
          </div>
        </div>
      </div>
    </div>
    <!--Contenido de líneas de riego-->
  </div>
  <div class="col-sm-12 col-md-3">
    <div class="col-sm-12">
      <app-card [titulo]="'Batería'" [img]="'../../../assets/img/battery.jpg'" (click)="openModalBattery()"></app-card>
    </div>
    <div class="col-sm-12 mt-2">
      <app-card [titulo]="'Tanque de agua'" [img]="'../../../assets/img/water-tank.png'" (click)="openModalWater()"></app-card>
    </div>
  </div>
</div>
